<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    {{#link-to 'index' class='width100'}}
                        Main Menu
                    {{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</div>
{{yield}}
