<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">{{{model}}}</h4>
            </div>
            <div class="modal-body align-center">
                <div class="inline-block">
                    <div class="la-ball-scale-ripple-multiple la-4x">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade">
</div>