<div class="width100 text-center">
    <div class="inline-block">
        <div class="la-ball-scale-ripple-multiple la-4x">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
{{outlet}}
