<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <button class="btn btn-primary btn-lg btn-block mode-button" {{action "hostCall"}}><span class="glyphicon glyphicon-home"></span> HOST</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="height:30px"></div>
</div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <button class="btn btn-success btn-lg btn-block mode-button" {{action "joinCall"}}><span class="glyphicon glyphicon-phone-alt"></span> JOIN</button>
    </div>
</div>
