<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" {{action "close"}}><span class="glyphicon glyphicon-remove"></span></button>
            <h4 class="modal-title">Kick User</h4>
            </div>
            <div class="modal-body">
                <h3>{{{model}}}</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-submit" {{action "confirm"}}>Confirm</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade" {{action "close"}}>
</div>