body {
    position: relative;
    width: 100%;
}

.align-center {
    text-align: center;
}

.terminal-area {
    width: 100%;
    overflow: visible;
    position: relative;
}

.video-box {
    width: 100%;    /*Always match container width*/
    cursor: move;
}

.bounding-box {
    width: 400px;   /*Default ratio 4:3*/
    height: 300px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    position: absolute;
}

.bounding-box > .ui-resizable-se {
    background-color: black;
}

.modal {
    display: block;
}

.call-manager {
    overflow: visible;
}

.terminal-grid {
}

.client-info {
    text-align: right;
}

.client-info-popup {
    text-align: left;
    position: absolute;
    top: 39px;
    right: 0px;
    width: 400px;
}

.no-breakline {
    white-space: nowrap;
    word-break: keep-all;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}

.red {
    color: #d9534f;
}

.background-light-blue {
    background-color: #4e5d6c;
}

.background-well-blue {
    background-color: #485563;
}

.background-alpha-black {
    background-color: rgba(0,0,0,0.2);
}

.bad-input {
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

.width100 {
    width:100%;
}

.gridster ul li {
    overflow: hidden;
    background-color: rgba(0,0,0,0.2);
    position: relative;
}

.gridster ul {
    margin: 0;
}

.gs-resize-handle {
    border-top-width: 4px;
    border-left-width: 4px;
    border-style: solid;
    border-color: rgb(223, 105, 26);
    background-color: rgb(223, 105, 26);
}

.inline-block {
    display: inline-block;
}

.scale-2 {
    -ms-transform: scale(2,2);
    -webkit-transform: scale(2,2); 
    transform: scale(2,2);
}

.scale-3 {
    -ms-transform: scale(3,3);
    -webkit-transform: scale(3,3); 
    transform: scale(3,3);
}

.la-ball-scale-ripple-multiple {
    color: #df691a;
}

.la-ball-scale-ripple-multiple.la-4x {
    width: 192px;
    height: 192px;
}

.la-ball-scale-ripple-multiple.la-4x > div {
    width: 192px;
    height: 192px;
    border-width: 12px;
}

.pointer {
    cursor: pointer;
}

.inset { 
    text-shadow:#ccc 0px 1px 0, #777 0 -1px 0;
}

.tooltip {
	position: absolute;
        opacity: 1;
	display: block;
	height: 20px;
	color: #fff;
	text-align: center;
	font-size: 10pt;
	border-radius: 3px;
	border: 1px solid #333;
        -webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
        box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: -moz-linear-gradient(top,  rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8045484d', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

.hidden {
    display: none;
}

.thumbnail-viewer {
    text-align: center;
}

.thumbnail-image {
    width:400px;
    height:300px;
}

/* Effect chooser styles */

.effect-chooser {
    position: absolute;
    top: 36px;
    right: 5px;
    height: 24px;
    width: 24px;
    font-size: 24px;
    overflow:visible;
}

.effect-chooser .tooltip {
    top: 2px;
    left: -64px;
    width: 60px;
}

.effect-icon {
    height: 24px;
    width: 24px;
    margin-bottom: 5px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    overflow: hidden;
    position: relative;
    opacity: 0.99;
}

.effect-icon-grey {
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(left,  #000000 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #000000 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #000000 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #000000 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to right,  #000000 0%,#eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
}

.effect-icon-sepia {
    background: #704214; /* Old browsers */
    background: -moz-linear-gradient(left,  #BC8B5A 0%, #704214 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#BC8B5A), color-stop(100%,#704214)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #BC8B5A 0%,#704214 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #BC8B5A 0%,#704214 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #BC8B5A 0%,#704214 100%); /* IE10+ */
    background: linear-gradient(to right,  #BC8B5A 0%,#704214 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BC8B5A', endColorstr='#704214',GradientType=1 ); /* IE6-9 */
}

.effect-icon-abstract {
    background: #99CCFF; /* Old browsers */
    background: -moz-linear-gradient(left,  #99CCFF 0%, #FF6699 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#99CCFF), color-stop(100%,#FF6699)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #99CCFF 0%,#FF6699 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #99CCFF 0%,#FF6699 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #99CCFF 0%,#FF6699 100%); /* IE10+ */
    background: linear-gradient(to right,  #99CCFF 0%,#FF6699 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99CCFF', endColorstr='#FF6699',GradientType=1 ); /* IE6-9 */
}

.sepia {
    -webkit-filter: sepia(1);
}

.grey {
    -webkit-filter: grayscale(1);
}

.abstract {
    -webkit-filter: contrast(1.1) invert(1);
}

.color {
    -webkit-filter: none;
}

/* End effect chooser styles */

/* Kick button styles */

.kick-button {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #d9534f;
    overflow:visible;
}

.kick-button .tooltip {
    bottom: -20px;
    left: 0px;
    width: 70px;
}

/* End kick button styles */

/* Snapshot button styles */

.snapshot-button {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 24px;
    overflow:visible;
}

.snapshot-button .tooltip {
    bottom: 7px;
    left: -94px;
    width: 90px;
}

/* End snapshot button styles */

/*Volume slider styles*/

.gridster ul li section {
	width: 140px;
	height: 25px;
        margin: 0px;
	position: absolute;
        bottom: 0px;
        left: 0px;
        overflow: visible;
}

.gridster ul li section .slider{
	border-width: 1px;
	border-style: solid;
	border-color: #333 #333 #777 #333;
	border-radius: 25px;
	width: 100px;
	position: absolute;
	height: 13px;
	background-color: #8e8d8d;
	background: url('../img/bg-track.png') repeat top left;
        box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 
    				  0 1px 0 0px rgba(250, 250, 250, .5);
        left: 10px;
        bottom: 5px;
}

.gridster ul li section .tooltip {
	bottom: 25px;
	width: 35px;
}

.gridster ul li section .volume {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	right: -5px;
        bottom: 0px;
	background: url('../img/volume.png') no-repeat 0 -50px;
	position: absolute;
	margin-top: -5px;
}

.gridster ul li section .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('../img/handle.png') no-repeat 50% 50%;
	font-weight: bold;
	color: #1C94C4;
	outline: none;
        border: none;
	top: -7px;
	margin-left: -12px;
}

.gridster ul li section .ui-slider-range {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	position: absolute;
	border: 0;
	top: 0;
	height: 100%;
	border-radius: 25px;
}

/*End volume slider styles*/

/* Color wheel styles */

.wheel, .umbrella, .umbrella .color {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
}

.wheel {
  overflow: hidden;
  width: 24px;
  height: 24px;
  position: relative;
}

.umbrella {
  position: relative;
  -webkit-filter: blur(2px);
  -webkit-transform: scale(1.35);
}

.umbrella .color, .umbrella .color:nth-child(n+7):after {
  clip: rect(0, 24px, 24px, 12px);
}

.umbrella .color:after, .umbrella .color:nth-child(n+7) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  clip: rect(0, 12px, 24px, 0);
}

.umbrella .color:nth-child(1):after {
  background-color: #9ED110;
  transform: rotate(30deg);
  z-index: 12;
}

.umbrella .color:nth-child(2):after {
  background-color: #50B517;
  transform: rotate(60deg);
  z-index: 11;
}

.umbrella .color:nth-child(3):after {
  background-color: #179067;
  transform: rotate(90deg);
  z-index: 10;
}

.umbrella .color:nth-child(4):after {
  background-color: #476EAF;
  transform: rotate(120deg);
  z-index: 9;
}

.umbrella .color:nth-child(5):after {
  background-color: #9f49ac;
  transform: rotate(150deg);
  z-index: 8;
}

.umbrella .color:nth-child(6):after {
  background-color: #CC42A2;
  transform: rotate(180deg);
  z-index: 7;
}

.umbrella .color:nth-child(7):after {
  background-color: #FF3BA7;
  transform: rotate(180deg);
}

.umbrella .color:nth-child(8):after {
  background-color: #FF5800;
  transform: rotate(210deg);
}

.umbrella .color:nth-child(9):after {
  background-color: #FF8100;
  transform: rotate(240deg);
}

.umbrella .color:nth-child(10):after {
  background-color: #FEAC00;
  transform: rotate(270deg);
}

.umbrella .color:nth-child(11):after {
  background-color: #FFCC00;
  transform: rotate(300deg);
}

.umbrella .color:nth-child(12):after {
  background-color: #EDE604;
  transform: rotate(330deg);
}

/* End color wheel styles */

/*Bootstrap overrides*/
.form-control:focus {
  box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.175), 0 0 2px 2px rgba(0, 0, 0, 0.3);
}