body {
    position: relative;
    width: 100%;
}

.align-center {
    text-align: center;
}

.terminal-area {
    width: 100%;
    overflow: visible;
    position: relative;
}

.video-box {
    width: 100%;    /*Always match container width*/
    cursor: move;
}

.bounding-box {
    width: 400px;   /*Default ratio 4:3*/
    height: 300px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    position: absolute;
}

.bounding-box > .ui-resizable-se {
    background-color: black;
}

.modal {
    display: block;
}

.client-info {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.client-info-right {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
}

.background-alpha-black {
    background-color: rgba(0,0,0,0.2);
}

.bad-input {
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

.width100 {
    width:100%;
}

.gridster ul li {
    overflow: hidden;
    background-color: rgba(0,0,0,0.2);
    position: relative;
}

.gridster ul {
    margin: 0;
}

.gs-resize-handle {
    border-top-width: 4px;
    border-left-width: 4px;
    border-style: solid;
    border-color: rgb(223, 105, 26);
    background-color: rgb(223, 105, 26);
}

.inline-block {
    display: inline-block;
}

.scale-2 {
    -ms-transform: scale(2,2);
    -webkit-transform: scale(2,2); 
    transform: scale(2,2);
}

.scale-3 {
    -ms-transform: scale(3,3);
    -webkit-transform: scale(3,3); 
    transform: scale(3,3);
}

.la-ball-scale-ripple-multiple {
    color: #df691a;
}

.la-ball-scale-ripple-multiple.la-4x {
    width: 192px;
    height: 192px;
}

.la-ball-scale-ripple-multiple.la-4x > div {
    width: 192px;
    height: 192px;
    border-width: 12px;
}

/*Slider styles*/

.gridster ul li section {
	width: 140px;
	height: 25px;
        margin: 0px;
	position: absolute;
        bottom: 0px;
        left: 0px;
        overflow: visible;
}

.gridster ul li section .slider{
	border-width: 1px;
	border-style: solid;
	border-color: #333 #333 #777 #333;
	border-radius: 25px;
	width: 100px;
	position: absolute;
	height: 13px;
	background-color: #8e8d8d;
	background: url('../img/bg-track.png') repeat top left;
        box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 
    				  0 1px 0 0px rgba(250, 250, 250, .5);
        left: 10px;
        bottom: 5px;
}

.gridster ul li section .tooltip {
	position: absolute;
        opacity: 1;
	display: block;
	bottom: 25px;
	width: 35px;
	height: 20px;
	color: #fff;
	text-align: center;
	font-size: 10pt;
	border-radius: 3px;
	border: 1px solid #333;
        -webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
        box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: -moz-linear-gradient(top,  rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8045484d', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

.gridster ul li section .volume {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	right: -5px;
        bottom: 0px;
	background: url('../img/volume.png') no-repeat 0 -50px;
	position: absolute;
	margin-top: -5px;
}

.gridster ul li section .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('../img/handle.png') no-repeat 50% 50%;
	font-weight: bold;
	color: #1C94C4;
	outline: none;
        border: none;
	top: -7px;
	margin-left: -12px;
}

.gridster ul li section .ui-slider-range {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	position: absolute;
	border: 0;
	top: 0;
	height: 100%;
	border-radius: 25px;
}

/*End slider styles*/

/*Bootstrap overrides*/
.form-control:focus {
  box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.175), 0 0 2px 2px rgba(0, 0, 0, 0.3);
}