<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 align-center">
                        <h1><div class="inline-block lean-in-left">Video</div><span class="glyphicon glyphicon-facetime-video drop-shadow"></span><div class="inline-block lean-in-right">Chat</div></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>