<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <button class="btn btn-primary btn-lg btn-block" {{action "hostCall"}}>HOST CONVERSATION</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="height:30px"></div>
</div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <button class="btn btn-success btn-lg btn-block" {{action "joinCall"}}>JOIN CONVERSATION</button>
    </div>
</div>
