<div class="effect-icon effect-icon-color">
    <div class="wheel">
        <div class="umbrella">
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
        </div>
    </div>
</div>
<div class="effect-icon effect-icon-grey">
</div>
<div class="effect-icon effect-icon-sepia">
</div>
<div class="effect-icon effect-icon-abstract">
</div>
<div class="tooltip">Effects</div>