<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <button class="btn btn-danger btn-block" {{action "disconnect"}}>END CONVERSATION</button>
        </div>
    </div>
</div>