<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 align-center">
                        <h1>Video Chat</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 align-center">
                        <i>A program by: Michael Conaway</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>