<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 align-center">
            <h2>Video Chat v0.0.1</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 align-center">
            <i>A program by: Michael Conaway</i>
        </div>
    </div>
</div>